.about {
	animation: items-appear 1s ease-out forwards;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about__title {
	color: $languid-lavender;
}

.about__body {
	color: $languid-lavender;
	align-self: flex-start;
	margin: 0 0 $m-size $m-size;
}

.about__list {
	list-style: circle;
	color: $languid-lavender;
	margin: 0;

	li {
		margin: $s-size;
	}
}

.about__credits {
	width: 100px;
}
