.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    color: $languid-lavender;
    margin: $s-size 0 0 0;
  }

  button {
    margin: $s-size 0 0 0;
    background: transparent;
    color: $languid-lavender;
    border: 1px solid $languid-lavender;
  }

  button:hover {
    color: $plump-purple;
    border: 1px solid $plump-purple;
  }
}