.movies {
  
}

.movies__header {
  width: 150px;
  color: $languid-lavender;
  border-bottom: 1px solid $violet-blue-crayota;
  margin: 0 0 $s-size $s-size;
}

.movies__fallback {
  color: $languid-lavender;
  text-align: center;
}