.search {
  display: flex;
  flex-direction: column;
}

.search__fallback {
  text-align: center;
}

.search__header {
  width: 150px;
  border-bottom: 1px solid $plump-purple;
  margin: 0 0 $s-size $s-size;
}