.header {
  background: $dark-purple;
  margin-bottom: $m-size;
  padding: $m-size 0;
  
  .container {
    width: 1800px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $languid-lavender;
  }

  a:hover {
    color: $violet-blue-crayota;
  }
}

.header__title {
  font-size: $l-size;
  margin: 0 0 0 $m-size;
  color: $languid-lavender;
}

.header__links {
  ul {
    margin: 0;
    text-align: center;
  }

  li {
    display: inline;
  }

  a {
    color: $languid-lavender;
    display: inline-block;
    padding: 0 0 0 $l-size;
  }
}

.header__login {
  margin-right: $m-size;
}
