.header {
	position: sticky;
	top: 0;
	background: $plump-purple;
	margin-bottom: $s-size;
	padding: $s-size 0 6px 0;
	font-size: $s-size;
	z-index: 3;

	.container {
		width: 1800px;
		max-width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	a {
		color: $languid-lavender;

		&:hover {
			color: $dark-purple;
		}
	}
}

.header__title {
	font-size: $m-size;
	margin: 0 0 0 $s-size;
	color: $languid-lavender;
}

.header__links {
	ul {
		margin: 0;
		text-align: center;
	}

	li {
		display: inline;
	}

	a {
		color: $languid-lavender;
		display: inline-block;
		padding: 0 0 0 $s-size;
	}
}

.header__login {
	margin-right: $s-size;
}

@media (min-width: $desktop-breakpoint) {
	.header {
		font-size: $m-size;
		margin-bottom: $m-size;
		padding: $s-size 0;

		.container {
			justify-content: space-between;
		}
	}

	.header__title {
		font-size: $l-size;
		margin: 0 0 0 $m-size;
	}

	.header__links {
		a {
			padding: 0 0 0 $l-size;
		}
	}

	.header__login {
		margin-right: $m-size;
	}
}
