.listItems {
  display: flex;
  color: $honey-dew;
  margin-bottom: $m-size;
  overflow-x: auto;
}

.listItems::-webkit-scrollbar {
  width: 1px;
}

.listItems::-webkit-scrollbar-track {
  background: transparent;
}

.listItems::-webkit-scrollbar-thumb {
  background: $celadon-blue;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.listItems::-webkit-scrollbar-thumb:hover {
  background: $imperial-red;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.listItem__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 0 $s-size;
  text-align: center;
  background-color: $prussian-blue;
}

.listItem__img {
  width: 120px;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.listItem__remove {
  border-radius: 10px;
  background-color: $prussian-blue;
  color: $honey-dew;
}

.listItem__remove:hover {
  background-color: $imperial-red;
  color: black;
}

.listItem__title {
  font-size: $m-size;
  margin: 0;
}

.listItem__rating {
  font-size: $m-size;
  margin: 0 0 0 0;
}

// For Search Page only

.listItem__mediaType {
  margin: 0;
  font-size: $s-size;
}

.listItem__button {
  margin: 0;
  border-radius: 10px;
  background-color: $honey-dew;
}

.listItem__button:hover {
  background-color: $imperial-red;
  color: $honey-dew;
}