.searchBar {
	display: inline;
	margin: 0 0 0 $s-size;
}

.searchBar__form {
	display: inline;
}

.searchBar__input {
	height: $m-size;
	background: $languid-lavender;
	margin: 0 2px 0 0;
  width: 80px;
}

.searchBar__button {
	background: $languid-lavender;
	border: none;
	border-radius: 5px;
}

.searchBar__button:hover {
	background: $plump-purple;
	color: $languid-lavender;
}

@media (min-width: $desktop-breakpoint) {
	.searchBar__input {
		height: $m-size;
		background: $languid-lavender;
		margin: 0 4px 0 0;
    width: auto;
	}
}
