html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: $dark-purple;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body__content {
  flex: 1;
}