// Colors https://coolors.co/e5d4ed-6d72c3-5941a9-514f59-1d1128
$languid-lavender: #e5d4ed;
$violet-blue-crayota: #6d72c3;
$plump-purple: #5941a9;
$dark-liver: #514f59;
$dark-purple: #1d1128;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;
$desktop-breakpoint: 45rem;