// Colors https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
$imperial-red: #E63946;
$honey-dew: #f1faee;
$powder-blue: #a8dadc;
$celadon-blue: #457b9d;
$prussian-blue: #1d3557;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;